/***************
  HTML Styles
***************/
body {
  background: $gradient;
}

p.box {
  padding: 20px;
}
p {
  //color: $off-black;
  padding: 0;
  -webkit-font-smoothing: antialiased
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
}

nav {
  // background-color: color("materialize-red", "lighten-2");

  a {
    -webkit-font-smoothing: antialiased;
  }
  ul li:hover, ul li.active {
    background-color: color("materialize-red", "lighten-1");
  }
}

.header {
  color: $off-black;
  @include fade-in(0.8s);
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.preview {
  background-color: #FFF;
  border: 1px solid #eee;
  padding: 20px 20px;
}

@media #{$medium-and-down} {
  header, main, footer {
    padding-left: 0;
  }
}

/********************
  Index Page Styles
********************/

.bold > a {
  font-weight: bold;
}

#logo-container {
  height: 57px;
  margin-bottom: 32px;
}

@media #{$large-and-up} {
  .container {
    width: 85%;
  }
}

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}

@media only screen and (max-width: 992px) {
  #front-page-nav ul.side-nav {
    li {
      float: none;
      padding: 0 15px;

      &:hover { background-color: #ddd; }
      .active { background-color: transparent; }
    }
    a {
      color: #444;
    }
  }
}


#responsive-img {
  width: 80%;
  display:block;
  margin: 0 auto;
}

.first{
  //margin-top: 30vh;
  padding-top: 30vh;
}

.space{
  padding-top: 15vh;
}

#index-banner {
  background-color:$primary-color;
  //background: radial-gradient(ellipse at center, rgba(0,135,85,0.38) 0%, rgba(0,135,85,1) 83%);
  background: $gradient-green;
  height:100vh;
  .container {
    position: relative;
  }
  .header {
    color: #FFF;
  }
  
  .valign-wrapper{
    height:100vh;
  }
  h1 {
    margin-top: 16px;
  }
  .header-logo{
    width:55%;
  }
  .fallback { 
    display: none;
    width:50%;
    height:200px;
    margin-left:25%;
    /* Make sure it's the same size as the SVG takes up */
  }
  .no-svg .fallback { 
    background: url(../images/logo.png) no-repeat; 
    background-size: contain;
  }
}
@media #{$small-and-down} {
  #index-banner {
    h3 {
      margin-bottom: 0;
    }
  }
}


// HLA bar (Latest commit widget)
.hla {
  position:relative;
  margin-top: -4rem;
  height: 4rem;
  line-height: 1.1;
  background-color: $primary-color-light;
  font-size: .9rem;
  @extend .z-depth-1;  
  h1{
      position:absolute;
    }
}

.hla-logo{
    position:relative;
    h1{
      bottom: 4rem;
      left: -0.05rem;
      margin:0;
      line-height: .73;
    }
    h4{
      padding: .8rem 0;
      position: relative;
      margin: 0;
    }
  }

#demo-btn {
  padding:0 5rem 0 5rem;
}

.demo-btn {
  background-color: $accent-color-accent;
  &:hover, &:focus {
    background-color: lighten($accent-color-accent, 10%);
  }
}

.header-btn{
  font-size: 1.7rem;
  margin:1rem;
  @include fade-in(1s);
}

#tag{
  height:100%;
  position:absolute;
  left:0;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 60px;
  .menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 20px;
  }
  .fix-search & {
    background: #eee;
  }
}

.wrap{
  height: 100vh; //required to make it work
  overflow: auto; //THIS LINE MAKES IT WORK
}

.promo{
  width: 100%;
  @media #{$medium-and-down} {
    width: 60%;
    margin: 0 auto;
    display: block;
  }

  i {
    margin: 40px 0;
    color: $accent-color;
    font-size: 7rem;
    display: block;
  }
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;

}


.clear { clear: both; }


.center {
  text-align: center;
  vertical-align: middle;
}

// tabs
.tabs-wrapper {
  position: relative;
  height: 48px;
  @extend .hide-on-small-only;

  .row.pinned {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
}

// Table of contents
ul.table-of-contents {
  margin-top: 0;
  padding-top: 48px;
}

// Footer styling
footer{
  font-size: .9rem;
  a{
    color:white;
    text-decoration: underline;
  }
}


//scrolling changes
.fix-nav{
  .hla{
    @include material-animation-default();
    @extend .z-depth-0;
  }
}

.ear-r{
  @include ear-wiggle();
}
.logo-letter{
  @include type-in;
}
.logo-goat{
  @include fade-in;
}

#product-top{
  background:url(../images/tubes-50.jpg) no-repeat center center;
  background-size: cover;
  //background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.65) 100%), url(../images/tubes-50.jpg) no-repeat center center;
}
.white-gradient{
  background:linear-gradient(to top left, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.08) 20%, rgba(255, 255, 255, 0.87) 100%);
}

#support{
  background:$gradient;
  overflow: hidden;
  position: relative;
  .support-heart{
    background:url(../images/heart-tubes.png) no-repeat bottom right;
    background-size:40%;
    @media #{$small-and-down}{
      padding-bottom:150px;
    }
  }
  .support-options{
    background:url(../images/support.jpg) no-repeat center center;
    background-size: cover;
    position:relative;
    font-size: 1.25em;

    .collapsible-header{
      background-color:$primary-color-light;
      border-radius: 2px;
      border-bottom: none;
    }
    h5.collapsible-header{margin:0}
    .collapsible-body{
      background-color:rgba(255,255,255,.93);
      border-radius: 2px;
    }
  }
}

#team{
  background-color:$secondary-color-dark;
  background:$gradient-blue;
  color:white;
  .team-story{
    background:url(../images/blueware.jpg) no-repeat center center;
    background-size: cover;
    position:relative;
    font-size: 1.25em;
  }
  .card-panel{
    background-color:white;
    color:$off-black;
    &.first-panel{
      background-color:$secondary-color-light;
      color:white;
    }
  }


  
}
.person{
    color:$off-black;
    background-color:white;
    margin-bottom:100px;
    h4:first-child{
      padding-top:2rem;
    }
    .container{
      min-height: 400px;
    }
    #adam{
      background:url(../images/dude.jpg) no-repeat bottom left;
      background-size:contain;
    }
    #gal{
      background:url(../images/gal.jpg) no-repeat bottom right;
      background-size:contain;
    } 
  }

.collapsible.popout > li {
  margin: 16px 24px;
}

.white-card{
  background-color:$white-trans;
  padding: $card-padding;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  border-radius: 2px;
  &.whiter{
    background-color:rgba(255,255,255,0.87);
  }
}

.flex-row{
  display:flex;
}

.testimony{
  background-color:$primary-color;
  color:white;
}

.relative-pos{
  position:relative;
}

footer.page-footer {
  margin-top: 0;
  color:white;
  padding-top: 40px;
  .hla-logo{
    color: white;
  }
}

#demo{
  background: $gradient;
}

.content-panel{
  height: 900px;
  overflow: hidden;
  position: relative;
  padding: 55px;
  box-sizing:content-box;
  @media only screen and (max-width: 767px){
    height: auto;
    padding: 58px 24px;
  }
  @media only screen and (max-width: 767px){
    margin-bottom: 0;
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px){
    padding: 36px;
    min-height: 800px;
    padding-top: 124px;
  }
  h2 {
    color: #444;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 40px;
    @media only screen and (max-width: 1024px){
      font-size: 40px;
    }
    @media only screen and (max-width: 767px){
      line-height: 1.2;
      margin: 0 0 20px 0;
    }
  }
  p{
    @media only screen and (max-width: 767px){
      line-height: 1.8;
    }
  }
  .small-link, .faux-link, .small-link:visited {
    color:$link-color;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .phone-centered {
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;
    position: relative;
    box-sizing:border-box;
    @media only screen and (max-width: 1024px){
      padding: 0;
    }
    .phone-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 330px;
      @media only screen and (max-width: 1199px){
        top: 0;
        transform: translateY(0);
      }
      @media only screen and (max-width: 1024px){
        padding-top: 0;
        width: 100%;
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px){
        text-align: center;
        width: 100%;
      }
      h2 {
        margin-top: 0;
      }
    }
  }
  .phone-text-panel {
    background: transparent;
    min-height: 260px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    z-index: 4;
    @media only screen and (max-width: 1199px){
      margin-top: 50px;
      position: relative;
      right: auto;
      top: auto;
      transform: translateY(0);
    }
    @media only screen and (max-width: 767px){
      background: transparent;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px){
      float: left;
      margin-top: 200px;
    }
    &.active{
    @media only screen and (max-width: 767px){
      border: none;
      box-shadow: none;
    }}
    .text {
      //opacity: 0;
      @include card-up;
      position: absolute;
      //transform: translate(0,60px);
      transition: all 200ms ease-in-out;
      //visibility: hidden;
      width: 300px;
      i{
        vertical-align: middle;
        margin-right: .5rem;
      }
      h4 {
        color: $primary-color;
        font-size: 26px;
        margin: 0 0 4px 0;
      }
      p {
        margin: 20px 0;
        @media only screen and (max-width: 767px){
          margin: 10px 0 0 0;
        }
      }
      @media only screen and (max-width: 767px){
        border: 1px solid #efefef;
        margin-bottom: 16px;
        opacity: 1;
        position: relative;
        transform: none;
        visibility: visible;
        width: 100%;
      }
      &.active {
        opacity: 1;
        transform: translate(0,0);
        visibility: visible;
        width: 300px;
        @media only screen and (max-width: 767px){
          width: 100%;
        }
        .text-content {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0,0,0,.15);
    display: block;
    padding: 30px 35px;
    position: relative;
    z-index: 1;
    will-change: box-shadow,margin,transform;
    @media only screen and (max-width: 767px){
      padding: 16px;
    }
  }
  .phone-base {
    background: transparent url(../images/monitor.png) left top no-repeat;
    background-size: 326px 600px;
    height: 600px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-40%,-50%);
    width: 326px;
    z-index: 3;
    @media only screen and (max-width: 1199px){
      left: auto;
      right: 0;
      top: 50%;
    }
    @media only screen and (max-width: 767px){
      display: none;
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px){
      margin-top: 50px;
      top: auto;
      transform: translate(0,0);
    }
    .phone-screen {
      height: 494px;
      left: 23px;
      overflow: hidden;
      position: absolute;
      top: 54px;
      width: 279px;
      z-index: 2;
    }
  }
  .btn-floating{
    position: absolute;
    transition: all 200ms ease-in-out;
    z-index: 3;
    bottom: 300px;
    left: 50px;
    background-color:$primary-color-light;
    i{
      color:white;
    }
    &.multitasking {
      left: 265px;
      top: 25px;
    }
    &.notifications {
      bottom: 75px;
      left: 70px;
    }
    &.js-active {
      background-color:white;
      i{
        color:$primary-color-light;
      }
    }
  }
}

.three-things{
  i {
    margin: 40px 0 0 0;
    color: $primary-color;
    font-size: 7rem;
    display: block;
    text-align: center;
    vertical-align: middle;
  }
}

//svg
.style0{enable-background:  new 0 0 205.7 66.4;}
.st0{fill:#2D2926;}
.st1{fill:#FFFFFF;}
.st2{fill:#D9D9D6;}
.st3{opacity:0.87;}

i{
  vertical-align: middle;
}
